.todo_input_container {
    display: flex;
    height: 2.5rem;
    
    border-bottom: 1px solid #e9ecef;

    input {
        flex: 1;
        border: 1px solid #dee2e6;
        outline: none;
        box-sizing: border-box;
        font-size: 15px;
    }
}